USE [master]
GO
/****** Object:  Database [ParkingManagementSystem]    Script Date: 6/12/2026 1:45:43 AM ******/
CREATE DATABASE [ParkingManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkingManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ParkingManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParkingManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ParkingManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkingManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkingManagementSystem]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[building_id] [int] NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[building_id] [int] NOT NULL,
	[vehicle_type_id] [int] NOT NULL,
	[license_plate] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[cancelled_at] [datetime] NULL,
	[expired_at] [datetime] NULL,
	[slot_id] [int] NULL,
	[monthly_ticket_id] [int] NULL,
	[booking_type] [varchar](30) NOT NULL,
	[expected_checkin_time] [datetime] NULL,
	[hold_until] [datetime] NULL,
	[checked_in_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackTicket]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackTicket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[status] [varchar](50) NULL,
	[resolved_by] [int] NULL,
	[created_at] [datetime] NULL,
	[resolved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Floor]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[building_id] [int] NULL,
	[name] [varchar](255) NULL,
	[floor_level] [int] NOT NULL,
	[capacity] [int] NOT NULL,
	[vehicle_type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyTicket]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyTicket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[vehicle_type_id] [int] NULL,
	[license_plate] [varchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingBuilding]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingBuilding](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [varchar](255) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingCard]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingCard](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[card_code] [varchar](100) NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[card_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[card_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSession]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSession](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[building_id] [int] NOT NULL,
	[slot_id] [int] NULL,
	[vehicle_type_id] [int] NULL,
	[card_id] [int] NULL,
	[license_plate] [varchar](255) NULL,
	[entry_gate] [varchar](255) NULL,
	[exit_gate] [varchar](255) NULL,
	[check_in_time] [datetime] NULL,
	[check_out_time] [datetime] NULL,
	[status] [varchar](255) NULL,
	[booking_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingZone]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingZone](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[floor_id] [int] NULL,
	[name] [varchar](255) NULL,
	[vehicle_type_id] [int] NULL,
	[capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NULL,
	[monthly_ticket_id] [int] NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[payment_method] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricingBlock]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricingBlock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[policy_id] [int] NULL,
	[block_order] [int] NOT NULL,
	[duration_hours] [int] NOT NULL,
	[price] [numeric](12, 2) NULL,
	[pricing_policy_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricingPolicy]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricingPolicy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[vehicle_type_id] [int] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[zone_id] [int] NULL,
	[name] [varchar](255) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[config_key] [varchar](100) NOT NULL,
	[config_value] [nvarchar](500) NOT NULL,
	[description] [nvarchar](max) NULL,
	[building_id] [int] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemLog]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[log_type] [varchar](50) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleType]    Script Date: 6/12/2026 1:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('CONFIRMED') FOR [status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('SHORT_TERM') FOR [booking_type]
GO
ALTER TABLE [dbo].[FeedbackTicket] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[FeedbackTicket] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Floor] ADD  DEFAULT ((0)) FOR [capacity]
GO
ALTER TABLE [dbo].[MonthlyTicket] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[ParkingBuilding] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[ParkingCard] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[ParkingZone] ADD  DEFAULT ((0)) FOR [capacity]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PricingPolicy] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Slot] ADD  CONSTRAINT [DF_Slot_Status]  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[SystemLog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_MonthlyTicket] FOREIGN KEY([monthly_ticket_id])
REFERENCES [dbo].[MonthlyTicket] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_MonthlyTicket]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Slot] FOREIGN KEY([slot_id])
REFERENCES [dbo].[Slot] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Slot]
GO
ALTER TABLE [dbo].[FeedbackTicket]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[FeedbackTicket]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[FeedbackTicket]  WITH CHECK ADD FOREIGN KEY([resolved_by])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[FeedbackTicket]  WITH CHECK ADD FOREIGN KEY([resolved_by])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Floor]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[Floor]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[Floor]  WITH CHECK ADD  CONSTRAINT [FKj6emenmhgsdfjh1aoop8tynwe] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[Floor] CHECK CONSTRAINT [FKj6emenmhgsdfjh1aoop8tynwe]
GO
ALTER TABLE [dbo].[MonthlyTicket]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[MonthlyTicket]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[MonthlyTicket]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[MonthlyTicket]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[ParkingCard] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[ParkingCard] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[Slot] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[Slot] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD  CONSTRAINT [FK_ParkingSession_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[ParkingSession] CHECK CONSTRAINT [FK_ParkingSession_Booking]
GO
ALTER TABLE [dbo].[ParkingZone]  WITH CHECK ADD FOREIGN KEY([floor_id])
REFERENCES [dbo].[Floor] ([id])
GO
ALTER TABLE [dbo].[ParkingZone]  WITH CHECK ADD FOREIGN KEY([floor_id])
REFERENCES [dbo].[Floor] ([id])
GO
ALTER TABLE [dbo].[ParkingZone]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[ParkingZone]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([monthly_ticket_id])
REFERENCES [dbo].[MonthlyTicket] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([monthly_ticket_id])
REFERENCES [dbo].[MonthlyTicket] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[ParkingSession] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[ParkingSession] ([id])
GO
ALTER TABLE [dbo].[PricingBlock]  WITH CHECK ADD FOREIGN KEY([policy_id])
REFERENCES [dbo].[PricingPolicy] ([id])
GO
ALTER TABLE [dbo].[PricingBlock]  WITH CHECK ADD FOREIGN KEY([policy_id])
REFERENCES [dbo].[PricingPolicy] ([id])
GO
ALTER TABLE [dbo].[PricingBlock]  WITH CHECK ADD  CONSTRAINT [FKdod6tuti1ighrvehx3vs3axai] FOREIGN KEY([pricing_policy_id])
REFERENCES [dbo].[PricingPolicy] ([id])
GO
ALTER TABLE [dbo].[PricingBlock] CHECK CONSTRAINT [FKdod6tuti1ighrvehx3vs3axai]
GO
ALTER TABLE [dbo].[PricingPolicy]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[PricingPolicy]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[VehicleType] ([id])
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[ParkingZone] ([id])
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[ParkingZone] ([id])
GO
ALTER TABLE [dbo].[SystemConfig]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[SystemConfig]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[ParkingBuilding] ([id])
GO
ALTER TABLE [dbo].[SystemConfig]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[SystemConfig]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[SystemLog]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[SystemLog]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='USER' OR [role]='STAFF' OR [role]='MANAGER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='USER' OR [role]='STAFF' OR [role]='MANAGER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([status]='BANNED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([status]='BANNED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([status]='USED' OR [status]='EXPIRED' OR [status]='CANCELLED' OR [status]='CONFIRMED'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([status]='USED' OR [status]='EXPIRED' OR [status]='CANCELLED' OR [status]='CONFIRMED'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK_Booking_HoldTime] CHECK  (([hold_until]>=[expected_checkin_time]))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK_Booking_HoldTime]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK_Booking_Status] CHECK  (([status]='EXPIRED' OR [status]='CANCELLED' OR [status]='CHECKED_IN' OR [status]='CONFIRMED'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK_Booking_Status]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK_Booking_Type] CHECK  (([booking_type]='MONTHLY_PRESELECT' OR [booking_type]='SHORT_TERM'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK_Booking_Type]
GO
ALTER TABLE [dbo].[FeedbackTicket]  WITH CHECK ADD CHECK  (([status]='CLOSED' OR [status]='RESOLVED' OR [status]='IN_PROGRESS' OR [status]='OPEN'))
GO
ALTER TABLE [dbo].[FeedbackTicket]  WITH CHECK ADD CHECK  (([status]='CLOSED' OR [status]='RESOLVED' OR [status]='IN_PROGRESS' OR [status]='OPEN'))
GO
ALTER TABLE [dbo].[MonthlyTicket]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='EXPIRED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[MonthlyTicket]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='EXPIRED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[ParkingBuilding]  WITH CHECK ADD CHECK  (([status]='CLOSED' OR [status]='OPEN'))
GO
ALTER TABLE [dbo].[ParkingBuilding]  WITH CHECK ADD CHECK  (([status]='CLOSED' OR [status]='OPEN'))
GO
ALTER TABLE [dbo].[ParkingCard]  WITH CHECK ADD CHECK  (([status]='BLOCKED' OR [status]='LOST' OR [status]='IN_USE' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[ParkingCard]  WITH CHECK ADD CHECK  (([status]='BLOCKED' OR [status]='LOST' OR [status]='IN_USE' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='ACTIVE' OR [status]='RESERVED'))
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='ACTIVE' OR [status]='RESERVED'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='MOMO' OR [payment_method]='VNPAY' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='MOMO' OR [payment_method]='VNPAY' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([status]='FAILED' OR [status]='SUCCESS' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([status]='FAILED' OR [status]='SUCCESS' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[PricingPolicy]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[PricingPolicy]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD  CONSTRAINT [CK_Slot_Status] CHECK  (([status]='MAINTENANCE' OR [status]='OCCUPIED' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Slot] CHECK CONSTRAINT [CK_Slot_Status]
GO
ALTER TABLE [dbo].[SystemLog]  WITH CHECK ADD CHECK  (([log_type]='SLOT_HISTORY' OR [log_type]='AUDIT' OR [log_type]='ERROR'))
GO
ALTER TABLE [dbo].[SystemLog]  WITH CHECK ADD CHECK  (([log_type]='SLOT_HISTORY' OR [log_type]='AUDIT' OR [log_type]='ERROR'))
GO
USE [master]
GO
